.SectionHeader_h1Container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 6.6rem;
    margin-bottom: 1rem;
}

.SectionHeader_h1 {
    font-family: Raleway, sans-serif;
    font-weight: 800;
   }

.SectionHeader_p {
    color: var(--gray);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem; /* 171.429% */
    letter-spacing: 0.014rem;
}

.SectionHeader___black .SectionHeader_h1{
    color: var(--black);
}

.SectionHeader___white .SectionHeader_h1{
    color: var(--white);
}

.SectionHeader___left .SectionHeader_h1Container, .SectionHeader___left .SectionHeader_left {
    text-align: left;
}

.SectionHeader___center .SectionHeader_h1Container, .SectionHeader___center .SectionHeader_p {
    text-align: center;
}

.SectionHeader___normal .SectionHeader_h1 {
    font-size: 6.8rem;
}

.SectionHeader___small .SectionHeader_h1 {
    font-size: 3.4rem;
}